@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p><a href="https://mohammadowaismir.ml/" target="_blank" title="Visit Me!" class="btn btn-primary">Visit Mohammad Owais Mir</a></p>
</div>
