@page
@model StudentCRUD.Web.Pages.Students.IndexModel

<div class="px-4 py-4">
    <a class="btn btn-primary" asp-page="Create">Create New Student</a>
</div>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Quick Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var student in Model.Students)
        {
            <tr>
                <td>@student.Name</td>
                <td>@student.Address</td>
                <td><a class="btn btn-primary" asp-page="Update" asp-route-id="@student.Id">Update</a></td>
                <td><a class="btn btn-primary" asp-page="Delete" asp-route-id="@student.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

